*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
}

@color-light-xl:#FFFFFF;
@color_primary: #F1CDB3;
@color_primary_light: #FDDCC4;
@color_primary_dark:#5C5C5C;
@color_dark: #00000079;
@color_dark_main:#B2B2B2;
@color_dark_secondary:#CDCDCD;
@color_dark_light: #545454;
@color_dark_xl: #4C4C4C;

.func_styling_text(@fz,@fw,@lh,@ls,@clr){
    font-size: @fz;
    font-weight: @fw;
    line-height: @lh;
    letter-spacing: @ls;
    color: @clr;
}
            
    body{
        padding: 30px 10px 0px;
    }

    header{
        background: @color_dark;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        >nav{
            display: none;
        }
        >.logo{
            >.logo_title{
                .func_styling_text(32px,400,35.2px,6%,@color_primary);
                margin-bottom: 10px;
            }
            >.logo_subtitle{
                .func_styling_text(13px,400,14.95px,10%,@color-light-xl);
                margin-left: 4px;
            }
        }
    }

    #about_us{
        background: @color-light-xl;
        padding: 42px 15px 42.4px;
        text-align: center;
        >.about_us_info{
            text-align: left;
            margin-bottom: 42px;
            >h2{
                .func_styling_text(25px, 400, 32.5px, 6%, @color_dark_light);
                margin-bottom: 25px;
            }
            >p{
                .func_styling_text(15px, 400, 24px, 0px, @color_dark_xl)
            }
            >p:first-of-type{
                margin-bottom: 22px;
            }
        }
        >img{
            width: 260px;
            height: 353.6px;
        }
    }


@media (min-width:768px) and (max-width: 1280px) {
    body{
        padding: 30px 30px 0px;
    }

    header{
        padding: 0px;
        >img{
            display: none;
        }
        nav{
            display: block;
            >.nav_list{
                display: flex;
                align-items: center;
                gap: 35px;
                list-style-type: none;
                >li{
                    .func_styling_text(15px, 400, 24px, normal, @color_dark_secondary);
                    position: relative;
                    &:hover{
                        color: @color-light-xl;
                        &::after{
                            display: block;
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 2px;
                            background-color: @color_primary;
                        }
                    }
                }
                >.active{
                    color: @color-light-xl;
                    &::after{
                        display: block;
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 2px;
                        background-color: @color_primary;
                    }
                }
                
            }
        }
    }

    #about_us{
        width: 437px;
        margin: auto;
        padding: 80px 0 100px;
        text-align: center;
        >.about_us_info{
            text-align: left;
            margin-bottom: 80px;
            >h2{
                .func_styling_text(35px, 400, 45.5px, 6%, @color_dark_light);
            }
        }
        >img{
            width: 300px;
            height: 408px;
        }
    }
    
}

@media (min-width: 1280px) {

    body{
        padding: 40px 40px 0px;
    }

    header{
        padding: 0px;
        >img{
            display: none;
        }
        nav{
            display: block;
            >.nav_list{
                display: flex;
                align-items: center;
                gap: 35px;
                list-style-type: none;
                >li{
                    .func_styling_text(15px, 400, 24px, normal, @color_dark_secondary);
                    position: relative;
                    &:hover{
                        color: @color-light-xl;
                        &::after{
                            display: block;
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 2px;
                            background-color: @color_primary;
                        }
                    }
                }
                >.active{
                    color: @color-light-xl;
                    &::after{
                        display: block;
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 2px;
                        background-color: @color_primary;
                    }
                }
                
            }
        }
    }

    #about_us{
        width: 100%;
        padding: 80px 0 100px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 120px;
        >.about_us_info{
            width: 430px;
            text-align: left;
            margin-bottom: 0px;
        }
        >img{
            width: 300px;
            height: 408px;
        }
    }
}